{% extends "header1.html" %}
<!-- Jangan lupa untuk menambahkan load static pada file base.html kita -->
{% block title %}
<title>Register | Blog Sederhana</title>
{% endblock %}

{% block content %}
<div class="col-md-12 bg-white px-4 py-5" style="margin-top: 48px; min-height: calc(100vh - 75px);">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card shadow-sm">
        <div class="card-header bg-light text-secondary text-center py-2 sidebar-heading">
          Registrasi
        </div>
        <div class="card-body">
          {% if messages %}
          <div class="messages">
            {% for message in messages %}
            <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            <div class="alert alert-warning alert-dismissible fade show py-1" role="alert">
              <strong>Mantap!</strong> {{ message }}.
              <button type="button" class="close py-1" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label class="small mb-1">Username</label>
            {{ form.username }}
          </div>
          <div class="form-group">
            <label class="small mb-1">E-Mail :</label>
            {{ form.email }}
          </div>
          <div class="form-group">
            <label class="small mb-1">Password :</label>
            {{ form.password1 }}
          </div>
          <div class="form-group">
            <label class="small mb-1">Komfirmasi Password :</label>
            {{ form.password2 }}
          </div>
          <button type="submit" class="form-control btn btn-sm btn-outline-primary">Sign Up
          </button>
        </form>
      </div>
      <div class="card-footer text-center">
        <div class="small">
        <p>Sudah punya akun? Pergi ke <a href="{% url 'login' %}">Login</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
