{% extends "header2.html" %}

{% block title %}
<title>Edit Password | Pengaturan</title>
{% endblock %}

{% block content %}
<div class="col-md-12 bg-white px-4 py-5" style="min-height: calc(100vh - 75px);">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm">
        <div class="card-header bg-light text-secondary text-center py-2 sidebar-heading">
          Ubah Password
        </div>
        <div class="card-body rounded-0">
          <form method="POST">
            {% csrf_token %}
            <div class="form-row">
              <div class="col-md-10 offset-md-1">
                <div class="form-group">
                  <label class="small mb-1" for="id_old_password">Old Password</label>
                  <input type="password" name="old_password" autocomplete="new-password"
                  class="form-control" required id="id_old_password"
                  placeholder="Enter Old Password"/>
                  <span>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-10 offset-md-1">
                <div class="form-group">
                  <label class="small mb-1" for="id_new_password1">New Password</label>
                  <input type="password" name="new_password1" autocomplete="new-password"
                  class="form-control" required id="id_new_password1"
                  placeholder="Enter New Password"/>
                  <span>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-10 offset-md-1">
                <div class="form-group">
                  <label class="small mb-1" for="id_new_password2">New Password Confirmation</label>
                  <input type="password" name="new_password2" autocomplete="new-password"
                  required id="id_new_password2" class="form-control"
                  placeholder="Confirm New Password"/>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-10 offset-md-1">
                <div class="form-group mt-0 mb-1">
                  <button type="submit" class="col-md-12 btn btn-outline-primary" id="reset">Simpan Password</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
